@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
}

header{
    height: auto;
    padding: 35px;
}

header img{
    width: 150px;
}

.container{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    background-image: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
}

.container .left{
    width: 100%;
    height: auto;
    padding: 50px 30px;
}

.container .right{
    width: 100%;
    height: 250px;
    background-image: url('../assets/hero-mobile.jpg');
    background-size: cover;
    background-position: center center;
}

.container .left h1{
    font-size: 3.2rem;
    font-weight: 300;
    color: hsl(0, 36%, 70%);
    line-height: 3.5rem;
    letter-spacing: .6rem;
    opacity: 0.9;
}

.container .left span{
    color: hsl(0, 6%, 24%);
    font-weight: 600;
}

.container .left p{
    max-width: 450px;
    margin: 0 auto;
    color: hsl(0, 36%, 70%);
    line-height: 1.5rem;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 600;
    opacity: 0.8;
}

.container form{
    position: relative;
    display: block;
    height: 50px;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}

.container form input{
    display: absolute;
    width: 100%;
    height: 100%;
    outline: none;
    border-radius: 50px;
    left: 0;
    top: 0;
    border: 1px solid hsl(0, 36%, 70%);
    padding-left: 30px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.1rem;
}

.container form button{
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 15%;
    border-radius: 50px;
    outline: none;
    border: none;
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
    box-shadow: 5px 5px 18px 1px hsla(0, 36%, 70%, 0.673);
}

.container form button:hover{
    background-image: linear-gradient(135deg, hsl(0, 80%, 86%), hsla(0, 52%, 84%, 0.781));
    box-shadow: 0px 10px 18px 2px #f4aaab96;
}

.container form input::placeholder{
    color: hsl(0, 36%, 70%);
    font-family: 'Josefin Sans', sans-serif;
	font-size: 1.1rem;
    opacity: .5;
}

.container form .error_Icon{
    display: inline-block;
    position: absolute;
    top: 24%;
    right: 95px;
    display: none;
}

.container form .error_Text{
    position: absolute;
    left: 30px;
    top: 40px;
    font-size: 1rem;
    display: none;
}


.container form.error .error_Icon,
.container form.error .error_Text {
	display: block;
}
.container form.error input {
	border: 2px solid hsl(0, 93%, 68%);
}

.error{
    display: block;
    border-radius: 2px solid hsl(0, 93%, 68%);
}

@media only screen and (min-width:768px){
    header{
        position: absolute;
        padding-left: 10%;
    }

    header img{
        width: 180px;
    }

    .container{
        flex-direction: row;
        padding-top: 0;
        padding-bottom: 0;
    }

    .container .right{
        width: 80%;
        height: 100vh;
        background-image: url('../assets/hero-desktop.jpg');
    }

    .container .left{
        height: 100vh;
        padding: 20vh;
        text-align: left;
        padding-left: 10%;
        background-image: url('../assets/bg-pattern-desktop.svg');
        background-position: center;
        background-size: cover;
    }

    .container .left h1{
        font-size: 5rem;
        line-height: 5.5rem;
    }

    .container .left p{
        margin-left: 0;
        font-size: 1.1rem;
    }

    .container form{
        margin-left: 0;
    }

    .container form button{
        width: 80px;   
    }

    .container form .error_Icon{
        right: 8px;
    }
    
}